*{
  margin:0;
  padding:0;
}
#container{
  margin:0 auto;
  background-color:LightCyan;
  width:1000px;  
  padding:20px;
}
head{
  
}
.profile-image{
  width:100px;
  height:150px;
  border:3px solid White;
  border-radius:50%;
  float:left;
}
.profile-bio{
  padding:30px;
  float:left;
}
h1,h2,h3,h4,h5,h6{
  color:#11999e
}
.contact{
  float:right;
  padding:30px;
}
.contact a{
  color:#11999e;
  text-decoration:none;
  font-weight:bold;
}
.contact a:hover{
  color:Tomato;
  text-decoration:underline;
}
.div-clear{
  clear:both;
}
.row{
  margin-top:30px;
  border:3px solid Gray;
}
main{
  
}

.left-div h3{
  margin-top:20px;
  color:#11999e;
  font-weight:bold;
  font-size:20px;
  float:left;
  width:30%;
  margin-top:15px;
}

.personal-infi{
  
}
.right-div{
  float:right;
  width:70%;
}
.right-div{
  font-size:15px;
  text-align:justify;
  margin-top:20px;
  
}
.row-all{
  margin-top:20px;
  border:30x solid Black;
}
.work-experience{
  
}
.education-information{
  
}
.education-information h3{
  margin-top:20px;
}
.right-div-sub1{
  width:35%;
  float:left;
}
.right-div-sub2{
  width:35%;
  float:right;
}
.footer{
  background-color:Black;
  padding:10px;
  text-align:center;
}
.footer a{
  color:White;
  padding:30px;
  text-decoration:none;
  font-weight:bolder;
}
.footer p{
  color:White;
  margin-top:30px;
  font-style:italic;
}



